server {
    listen              443 ssl;
    server_name         {{ server_name }};
    index               index.html;
    root                {{ server_root_folder }};
    ssl_certificate     /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        deny 0.0.0.0/8;
        deny 10.0.0.0/8;
        deny 100.64.0.0/10;
        deny 169.254.0.0/16;
        deny 172.16.0.0/12;
        deny 192.0.0.0/24;
        deny 192.0.2.0/24;
        deny 192.88.99.0/24;
        deny 192.168.0.0/16;
        deny 198.18.0.0/15;
        deny 198.51.100.0/24;
        deny 203.0.113.0/24;
        deny 224.0.0.0/4;
        deny 240.0.0.0/4;
	deny 35.190.56.182/32;
        deny 52.73.169.169/32;
        limit_except GET HEAD POST { deny all; }
        add_header X-Frame-Options "SAMEORIGIN";
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
        add_header Content-Security-Policy "default-src 'self' http: https: data: blob: 'unsafe-inline'" always;
        add_header X-XSS-Protection "1; mode=block";
    }
}
